---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="features">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>Unlike any other esports platform</Title>
      <Paragraph className="mt-8">
        Sanity esports covers every single aspect of esports community. Which a
        gamer desires we aim to connect organizers with players. Host official
        sanity tournaments and many more
      </Paragraph>
      <ul class="mt-8 space-y-4 text-heading-3 font-medium">
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Esports Tournaments
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Content Creation
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Mental Health Support
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Content Production
        </li>
      </ul>
    </div>

    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <img
          src={"https://media.discordapp.net/attachments/1150283260107165757/1169711788087050250/2.png?ex=655665fe&is=6543f0fe&hm=45a23df40a70f88ad22dc38cea2a7d8c3a24e14ad3041c80c89575a92d3a666b&=&width=1178&height=662"}
          alt="banner image"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
        />
      </div>
    </div>
  </Container>
</section>
