---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
import { CiLinkedin, CiInstagram, CiYoutube } from "react-icons/ci";
const footerNav1 = [
  {
    itemText: "Community",
    itemLink: "#",
  },
  {
    itemText: "Platform",
    itemLink: "#",
  },
  {
    itemText: "Host Event",
    itemLink: "#",
  },
  {
    itemText: "Join Event",
    itemLink: "#",
  },
];

const footerSupport = [
  {
    itemText: "Pricing",
    itemLink: "#",
  },
  {
    itemText: "Guides",
    itemLink: "#",
  },
  {
    itemText: "FAQ",
    itemLink: "#",
  },
  {
    itemText: "Contact",
    itemLink: "#",
  },
];

const footerCompany = [
  {
    itemLink: "/",
    itemText: "Home",
  },
  {
    itemLink: "#services",
    itemText: "Services",
  },
  {
    itemLink: "#about-us",
    itemText: "About",
  },
  {
    itemLink: "#features",
    itemText: "Features",
  },
];
const footerLegal = [
  {
    itemText: "Team",
    itemLink: "/#",
  },
  {
    itemText: "Privacy",
    itemLink: "#",
  },
  {
    itemText: "Terms & Services",
    itemLink: "#",
  },
];
---

<div class="mt-16"></div>
<footer
  class="relative bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl"
>
  <div class="absolute right-0 top-0 h-full w-full flex justify-end">
    <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span>
    </div>
  </div>

  <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
    <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span>
    </div>
  </div>
  <Container className="pb-8 relative overflow-hidden">
    <span
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"
    ></span>
    <div
      class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
    >
      <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
        <div class="h-full">
          <a href="#" class="relative flex items-center gap-3">
            <div class="relative overflow-hidden flex rounded-xl">
              <img
                src="https://cdn.discordapp.com/attachments/1150283260107165757/1169712622879375400/sanity_esports_logo.png?ex=655666c5&is=6543f1c5&hm=13e26138cb844ec951b6d39a85a425af724cd176d85b8fe94d1f09cb648944cb&"
                alt="sanity esports"
                width="70"
                height="50"
              />
            </div>
            <div class="inline-flex text-lg font-semibold text-heading-1">
              Sanity Esports
            </div>
          </a>
          <Paragraph className={"mt-8"}>
            we cover every aspect of esports
          </Paragraph>
        </div>

        <!-- social links -->
        <div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
          <a href="https://www.linkedin.com/company/sanity-esports/"
            ><CiLinkedin size={28} /></a
          >
          <a href="https://www.instagram.com/sanityesports_global/"
            ><CiInstagram size={28} /></a
          >
          <a
            href="https://youtube.com/@SanityEsports_Global?si=Uq87HtOauBgalGrD"
            ><CiYoutube size={28} /></a
          >
        </div>
      </div>

      <GroupFooterNav>
        <FooterNav title={"Company"} navItems={footerCompany} />
        <FooterNav title={"Solutions"} navItems={footerNav1} />
      </GroupFooterNav>

      <GroupFooterNav>
        <FooterNav title={"Support"} navItems={footerSupport} />
        <FooterNav title={"Resources"} navItems={footerLegal} />
      </GroupFooterNav>
    </div>
  </Container>
  <div class="bg-gradient-to-tl from-box-bg py-2 relative">
    <Container>
      <div
        class="flex justify-between items-center gap-6 md:text-lg text-heading-3"
      >
        <div>Made by Sanity Esports & Maintained by Sanitians 🎮</div>
      </div>
    </Container>
  </div>
</footer>
